For loop assignment

BASIC LEVEL

1.write a python program to print the numbers from 1to10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2.create a program that calculate the sum of all numbers in a list using a for lop

In [14]:
num=int(input(" please enter the number"))
sum=0
for value in range(1, num+1):
    sum=sum+value
    print(sum)

 please enter the number 2

1
3

3.write a program to print that character of a string in reverse order using a for loop

In [36]:
def reverse_string(str):
    str=""
    for i in str:
        str=i+str
        return str
    str="hello world"

In [38]:
reverse_string(str)

4.develop a program that finds a factorial of a  given number using for loop.

In [55]:
num=7
factorial=1
for i in range(1,num+1):
            factorial=factorial*i
            print("the factorial of" ,num,"is",factorial)

the factorial of 7 is 1
the factorial of 7 is 2
the factorial of 7 is 6
the factorial of 7 is 24
the factorial of 7 is 120
the factorial of 7 is 720
the factorial of 7 is 5040

5.create a progrtam multiplication table of a given number using a for loop.

In [65]:
num=int(input("enter any number you want from the user "))
for i in range(1,11):
    print(num,'x','i','=',num*i)

enter any number you want from the user  6

6 x i = 6
6 x i = 12
6 x i = 18
6 x i = 24
6 x i = 30
6 x i = 36
6 x i = 42
6 x i = 48
6 x i = 54
6 x i = 60

6.write a program that counts the number of even and odd number in a list using a for loop

In [6]:
list1=[1,2,3,4,5,6,7,8,9,7,7,8,5,4,]
odd_count=0
even_count=0
for num in list1:
    if num%2==0:
        even_count+=1
    else:
            odd_count+=1
            print("even ",even_count)
            print("odd ", odd_count)

even  0
odd  1
even  1
odd  2
even  2
odd  3
even  3
odd  4
even  4
odd  5
even  4
odd  6
even  4
odd  7
even  5
odd  8

7.write a progarm to input a number and print its square 1 to 5 in python

In [32]:
l=[]
for i in range(1,6):
    l.append(i*i)
    print("list of square of from to 1 to 5")
    print(i)

list of square of from to 1 to 5
1
list of square of from to 1 to 5
2
list of square of from to 1 to 5
3
list of square of from to 1 to 5
4
list of square of from to 1 to 5
5

8.create a program to find the length of a string without using len() function.

In [17]:
str="hello world"
count=0
for i in str:
    count+=1
    print("length of a string:",end="")
    print(count)

length of a string:1
length of a string:2
length of a string:3
length of a string:4
length of a string:5
length of a string:6
length of a string:7
length of a string:8
length of a string:9
length of a string:10
length of a string:11

9.write a program that calculates the average of list of number using a for loop.

In [ ]:
n=int(input("enter the number of elments to be inserted"))
a=[]
for i in range(0,n):
    elem=int(input("enter element"))
    a.append(elem)
    avg=sum(a)/n
    print("average elements in the list",round(avg,2))

enter the number of elments to be inserted 233
enter element 456

average elements in the list 1.96

enter element 23

average elements in the list 2.06

enter element 4

average elements in the list 2.07

enter element 5

average elements in the list 2.09

enter element 6

average elements in the list 2.12

10.develop a program that prints the first n fibonacci numbers using for loop.

In [1]:
num=10
n1,n2=0,1
print("fibonacci series:",n1,n2,end=" ")
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3, end=" ")
    print()

fibonacci series: 0 1 1
2
3
5
8
13
21
34

Intermediate Level:

11.write a program to check if a given list contains any duplicates using for loop.

In [9]:
list=[1,2,1,2,3,4,5,1,1,2,5,6,7]
unique_list=[]
duplicate_list=[]
for i in list:
    if i not in unique_list:
        unique_list.append(i)
    elif i not in duplicate_list:
            duplicate_list.append(i)
            print(duplicate_list)

[1]
[1, 2]
[1, 2, 5]

12.create a program that prints the prime numbers in a given range using for loop.

In [19]:

for num in range(1,11):
    if num>1:
           for i in range(2,num):
            if (num%i)==0:
                break
            else:
                    print(num)

3
5
5
5
7
7
7
7
7
9

13.develop a program that counts the number of vowels in a string using a for loop.

In [20]:
string="my name is mohseen ahmad"
vowels="aeiouAEIOU"
count=sum(string.count(vowel) for vowel in vowels)
print(count)

8

14.write a program to find the maximum element in a 2d list using a nested for loop.

In [43]:
def prod(l1):
    z=1
    for i in l1:
        z*=i
    return z
l=[[1,2,3],[4,5,6],[7,8,9]]
max_prod=max([prod(inner_list) for inner_list in l])
print(max_prod)

504

15.create a program that removes all occurences of a specific element from a list using for loop.

In [60]:
test_list=[1,3,4,5,6,1]
ele=1
x=[j for i,j in enumerate(test_list) if j!=ele]
print(x)

[3, 4, 5, 6]

16.develop a program that genrates a mulitiplication table for numbers to 1 to 5 using a nested for loop.

In [83]:
rows=5
columns=5
for i in range(1,11):
    for j in range(1,11):
        c=i*j
        print("{:d}".format(c),end=' ')
        print( )

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100


17.write a program that convert a list of farenheit tempratures to celcius using for loop.

In [89]:
temp=float(input("enter temprature in farenheit:"))
celcius=(temp-32)*5/9
print(f"{temp} in farenheit is equal to {celcius} in celcius")

enter temprature in farenheit: 1

1.0 in farenheit is equal to -17.22222222222222 in celcius

18.create a program to print the comman elements from two list using a for loop.

In [96]:
def common_member(a,b):
    result=[i for i in a if i in b]
    return result
a=[1,2,3,4,5,6]
b=[5,6,7,8,9]
print("the comman  elments in the two list are:")
print(common_member(a,b))

the comman  elments in the two list are:
[5, 6]

19.develop a program that prints the pattern of right angle tringles using a for loop. use* fro the pattern.

In [108]:
for i in range(6):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

20.write a program to find the gretest comman divisor  of two numbers using a for loop.

In [123]:
num1=36
num2=60
gcd=1
for i in range(1,min(,60)):
    if num%i==0 and num2%i==0:
        gcd=i
        print("gcd of", num1,"and",num2,"is",gcd)

gcd of 36 and 60 is 1
gcd of 36 and 60 is 2
gcd of 36 and 60 is 5
gcd of 36 and 60 is 10

Advance level

21.create a progarm that calculates the sum of the digits of numbers in a list comprehension.

In [3]:
def getsum(n):
    sum=0
    for digit in str(n):
        sum+=int(digit)
        return sum
    n=569
    print(getsum(n))

In [4]:
getsum(23)

2

22.write a program to find the prime factors of a given number using a for loop and list comprehension.

In [9]:
def prime_factors(x):
    print("the factors of ",x,+1)
    for i in range(1,x+1):
            if x%i==0:
                
                print(prime_factors)

In [12]:
prime_factors(7)

the factors of  7 1
<function prime_factors at 0x7eff19463010>
<function prime_factors at 0x7eff19463010>

23.develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension

In [14]:
def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
            return x
        print(unique_list[1,2,3,3,4,5,5,6,6,8])

In [17]:
unique_list([1,2,3,4,4,5,5,5,5,7,6,7,])

[1]

25.write a program to flatten a nested list using list comprehension.

In [28]:
my_list=[[1],[2],[3],[4],[5,6,7]]
flat_list=[]
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
        print(flat_list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

26.develop a program that compute the sum of even and odd numbers in a list seprately using list comprehension.

In [15]:
list=[10,20,30,40,50,21,4,92,1]
even_count=0
odd_count=0
for num in list:
    if num%2==0:
        even_count+=1
        odd_count+=1
        print("even numbers in the list",even_count)
        print("odd numbers in the list",odd_count)

even numbers in the list 1
odd numbers in the list 1
even numbers in the list 2
odd numbers in the list 2
even numbers in the list 3
odd numbers in the list 3
even numbers in the list 4
odd numbers in the list 4
even numbers in the list 5
odd numbers in the list 5
even numbers in the list 6
odd numbers in the list 6
even numbers in the list 7
odd numbers in the list 7

27.create a program that generates a list of squares of odd numbers between 1 and10 using list comprehension.

In [17]:
data=[1,2,3,4,5,6,7,]
result=[i*i for i in data if i%2!=0]
print(result)

[1, 9, 25, 49]

28.write a program that combines two list into a dictinary using list comprehension.

In [20]:
index=[1,2,3]
languages=["python","c","java"]
dictionary=dict(zip(index,languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'java'}

29.develop a program that extracts the vowels from a string and stores them in list using list comprehension.

In [22]:
text=input("enter a text")
for char in text:
    if char.lower() in 'aeiou':
        print(char)

enter a text mohseen ahmad

o
e
e
a
a

30.create a program that removes all non-numeric characters from alist of strings using alist comprehension.

In [1]:
import re

def remove(list):
    pattern='[0-9]'
    list=[re.sub(pattern,'',i) for i in list]
    return  list
list=['4four','3three','5five']
print(remove(list))

['four', 'three', 'five']

challenge level.

31.write a progarm to genrate a list of prime numbers using the sieve of eratosthenes alogorithm and list comprehension.

In [66]:
def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i)
            for j in range(i*i, n+1, i):
                prime_list.append(j)

print(prime_eratosthenes(100));

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [68]:
n = int(input("Enter the value of n:"))

a = 0
b = 0
c = 0
m = 2
triples = []

while c < n:
    for i in range(1, m, 1):
        a = m*m - i*i
        b = 2*m*i
        c = m*m + i*i
        if c > n:
            break
        triples.append((a, b, c))
    m += 1

print(triples)

Enter the value of n: 8

[(3, 4, 5)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [69]:
from itertools import product

Suit = [u"\u2666", u"\u2665", u"\u2663", u"\u2660"]
Card = ['A','K','Q','J','10','9','8','7','6','5','4','3','2']
FullDeck = list(product(Card, Suit))

for i in FullDeck:
    print(i)

('A', '♦')
('A', '♥')
('A', '♣')
('A', '♠')
('K', '♦')
('K', '♥')
('K', '♣')
('K', '♠')
('Q', '♦')
('Q', '♥')
('Q', '♣')
('Q', '♠')
('J', '♦')
('J', '♥')
('J', '♣')
('J', '♠')
('10', '♦')
('10', '♥')
('10', '♣')
('10', '♠')
('9', '♦')
('9', '♥')
('9', '♣')
('9', '♠')
('8', '♦')
('8', '♥')
('8', '♣')
('8', '♠')
('7', '♦')
('7', '♥')
('7', '♣')
('7', '♠')
('6', '♦')
('6', '♥')
('6', '♣')
('6', '♠')
('5', '♦')
('5', '♥')
('5', '♣')
('5', '♠')
('4', '♦')
('4', '♥')
('4', '♣')
('4', '♠')
('3', '♦')
('3', '♥')
('3', '♣')
('3', '♠')
('2', '♦')
('2', '♥')
('2', '♣')
('2', '♠')

34.Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension

In [73]:

n_num = [1, 2, 3, 4, 5]
n = len(n_num)

get_sum = sum(n_num)
mean = get_sum / n

print("Mean / Average is: " + str(mean))

Mean / Average is: 3.0

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [89]:
def solve(n):
   for i in range(n+1):
      for j in range(n-i):
         print(' ', end='')

      C = 1
      for j in range(1, i+1):
         print(C, ' ', sep='', end='')
         C = C * (i - j) // j
      print()

n = 5
solve(n)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [93]:

def multiply(v, x):
	carry = 0
	size = len(v)
	for i in range(size):
		
		res = carry + v[i] * x

		v[i] = res % 10
		carry = res // 10

	while (carry != 0):
		v.append(carry % 10)
		carry //= 10

def findSumOfDigits( n):
	v = []	
	v.append(1)
	for i in range(1, n + 1):
		multiply(v, i)

	sum = 0
	size = len(v)
	for i in range(size):
		sum += v[i]
	return sum


if __name__ == "__main__":
	
	n = 100
	print(findSumOfDigits(n))

648

In [ ]:
37. Write a program that finds the longest word in a sentence using list comprehension.

In [94]:
def find_longest_word(word_list):  
    longest_word = ''  
    for word in word_list:    
          print(word, len(word))  


words = input('Please enter a few words')  
word_list = words.split()  
find_longest_word(word_list)

Please enter a few words my name is khAN

my 2
name 4
is 2
khAN 4

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [96]:

import re

def Filter(string, substr):
	return [str for str in string if
			any(sub in str for sub in substr)]
string = ['city1', 'class5', 'room2', 'city2']
substr = ['class', 'city']
print(Filter(string, substr))

['city1', 'class5', 'city2']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [108]:
# Python program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
	
	sum = 0
	for digit in str(n):
            sum += int(digit)	
	return sum

n = 12345
print(getSum(n))

15

In [110]:
noprimes = set(j for i in range(2, 8) for j in range(i*2, 50, i))
primes = [x for x in range(2, 50) if x not in noprimes]